@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.card{
  width: 400px;
  border: none;
  border-radius: 10px;
   
  background-color: #fff;
}

body{
  text-align: center;
  background: linear-gradient(#212122, rgb(146, 142, 142));
  min-height: 100vh;
}

.stats{

      background: #f2f5f8 !important;

    color: #000 !important;
}
.articles{
  font-size:10px;
  color: #a1aab9;
}
.number1{
  font-weight:500;
}
.followers{
    font-size:10px;
  color: #a1aab9;

}
.number2{
  font-weight:500;
}
.rating{
    font-size:10px;
  color: #a1aab9;
}
.number3{
  font-weight:500;
}
.meupost{
  background: #f2f5f8 !important;
}