{% extends 'base.html' %}


{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/contato.css') }}">
    <div class="container mt-3">
        <h1>Kevin Soffa</h1>
        <div>
            <img src="/static/images/contato.png"  width="160" height="140">
        </div>
        <hr>
        <h3><strong>Quem sou eu?</strong></h3>
        <h4>
            Desenvolvedor Python Júnior. Graduando em Analise e Desenvolvimento de Softwares, cursando Técnico em Lógica de
            Programação em Python com Banco de Dados MySQL , Postgresql, MongoDB e Frameworks (Django, Django Rest Framework, FastAPI,
            Pandas, Selenium, Flask e Bootstrap). Criação de APIs REST. Conhecimento em HTML5 e CSS3. Formação Técnica em
            Lógica de Programação em Python e atualmente Desenvolvedor Python Júnior profissional. 
            Carreira em progressão na área de Tecnologia da Informação, com disposição
            para auxiliar na programação em Python e estruturação do banco de dados, apoio na manutenção dos sistemas,
            fazendo eventuais correções necessárias, visando atender às necessidades dos usuários, assistência no
            desenvolvimento de trabalhos de montagem, depuração e testes de programas, executando serviços de 
            manutenção nos programas já desenvolvidos.
        </h4>
        <hr>
        <div><br>
            <h5>
                Links para e contato e acesso ao repositorio desse e de outros projetos no GitHub:
            </h5>
            <div id="contact">
                <li type="square"> <img src="/static/images/icone-github.png">
                    <a style="text-decoration: none;" href="https://github.com/KevinSoffa?tab=repositories" target="_blank">GitHub</a>
                </li>
                <li type="square"> <img src="/static/images/icone-linkedin.png">
                    <a style="text-decoration: none;" href="https://www.linkedin.com/in/kevin-soffa-da-silva-souza-2607b5212/" target="_blank">Linkedin</a>
                </li>
                <li type="square"> <img src="/static/images/icone-instagram.png">
                    <a style="text-decoration: none;" href="https://www.instagram.com/kevinsoffa/" target="_blank">Instagram</a>
                </li>
            </div>
        </div>
    </div>

{% endblock %}
