<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #273142;">
    <div class="container-fluid container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="/static/images/nav_bar_ks.png" alt="Imagem Nav bar" width="65" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-secondary" href="{{ url_for('usuarios') }}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-secondary" href="{{ url_for('contato') }}">Contato</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('criar_post') }}">Criar Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for('sair') }}">Sair</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_criacao') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_criacao') }}">Criar Conta</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
</nav>