{% extends 'base.html' %}


{% block body %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3" style=" width: 600px;">
        <div class="d-flex align-items-center">
            <div class="image pe-2">
                <img src="{{ foto_perfil }}" class="rounded" width="200" >
            </div>
        <div class="ml-3 w-100">
           <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
           <span>{{ current_user.email }}</span>
           <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                <div class="d-flex flex-column">
                    <span class="articles">Linguagem de programação</span>
                    {% if 'Não informado' in current_user.linguagem_programacao %}
                        <span class="number1">0</span>
                    {% else %}
                        <span class="number1">{{ current_user.linguagem_programacao.count(';') + 1 }}</span>
                    {% endif %}
                </div>
                <div class="d-flex flex-column">
                    <span class="rating">Post's</span>
                    <span class="number3">{{ current_user.contar_post() }}</span>
                </div> 
           </div>
           <div class="button mt-2 d-flex flex-row align-items-center">
                <a class="w-100" href="{{ url_for('editar_perfil') }}">
                    <button class="btn btn-outline-primary w-100 ml-2">Editar Perfil</button>
                </a>
           </div>
        </div> 
        </div>
    </div>
 </div>
 <div class="row justify-content-center">
    <div class="col col-4" style="text-align: center;">
        <strong>Linguagens</strong><br>
        {% for linguagem in current_user.linguagem_programacao.split(';') %}
            <button type="button" class="btn btn-info mt-2" disabled>{{ linguagem }}</button>
        {% endfor %}
    </div>
   
 </div>
 
{% block form_editar_perfil %}

{% endblock %}
{% endblock %}
